services:
  backend:
    build: .
    command: make migrate run.server.prod
    restart: unless-stopped
    env_file: .env
    volumes:
      - static_volume:/app/backend/staticfiles
      - db_volume:/app/backend/db
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  db:
    image: postgres:16
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - .env
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  celery:
    build: .
    command: make celery
    restart: always
    volumes:
      - db_volume:/app/backend/db
    depends_on:
      - backend
      - redis
    env_file:
      - .env
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  bot:
    build: .
    command: make run.bot
    restart: always
    depends_on:
      - backend
      - redis
    env_file: .env
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  collectstatic:
    build: .
    command: make collectstatic
    env_file: .env
    volumes:
      - static_volume:/app/backend/staticfiles
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  redis:
    image: redis:8.0-alpine
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 3s
      retries: 3
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  nginx:
    image: nginx:1.27-alpine
    depends_on:
      - backend
    ports:
      - "8000:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - static_volume:/app/backend/staticfiles:ro
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  static_volume:
  db_volume:
  pgdata:
